<p>
    <strong>Пост не является авторским и/или официальным.</strong>
    <br>
    <strong>Более того - он так же не является профессиональным.</strong>
    <br><br>
    <strong>Автор оригинала:</strong>
    <a href="{{ page.original.author.url }}" target="_blank">{{ page.original.author.name | default: page.original.author.url }}</a>
    <br>
    <strong>Ссылка на оригинал:</strong>
    <a href="{{ page.original.post.url }}" target="_blank">{{ page.original.post.title | default: page.original.post.url }}</a>
</p>